*{
    padding: 0px;
    margin: 0px;
}
  /* css variable */
:root{
    --navbar-height:59px;
}
/* navigation bar */
 .navbar{
         display: flex;
         align-items: center;
         position: relative;
         align-items: center;
         top: 0px;
}
/* navigation bar logo and image */
#logo{
  margin: 10px 34px;
}
#logo img{
    height: 59px;
    margin: 3px 6px;
    border-radius: 5px;

}

/* navigation bar list styling*/
 .navbar ul{
    display: flex;
}
 .navbar::before{
      content: "";
      background-color: black;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.4;
}
 .navbar ul li{
   /* color: white;*/
    list-style: none;
    font-size: 1.3rem;
}
 .navbar ul li a{
    color: white;
     display: block;
     padding: 3px 22px;
     border-radius: 20px;
     text-decoration: none;
}
 .navbar ul li a:hover{
    color:black;
    background-color: white;
     
}
 /* section home */
 #home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 437px;
    justify-content: center;
    align-items: center;
 }
 #home::before{
    content: "";
    position: absolute;
    background-image: url('images/hello.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0px;
    left: 0px;
    height: 72%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
 }
 /* Utility class*/
 #home h1{
    color: white;
    text-align:center;
 }
 #home p{
    color: white;
    text-align:center;
    font-size: 1.5rem;
 }
 .h-primary{
    font-size: 3.8rem;
    padding: 12px;
 }
 .btn{
    padding:6px 20px;
    background-color: brown;
    color: white;
    border: 2px solid white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
 }
 /* services section */
 #services{
    margin: 25px;
    display: flex;
 }
 #services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 25px;
    border-radius: 28px;
    background-color: gray;
    margin-bottom: 20px;
 }
 #services .box img{
    height: 124px;
    margin: auto;
    display: block;
    border-radius: 23px;
 }
 .h-primary-center{
    font-size: 3.8rem;
    padding: 12px;
    justify-content: center;
    text-align: center;
 }
 
 #client-section::before{
      content: "";
      background-image: url("images/background.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: -1;
      opacity: 0.4;
 }
 #client-section{
     position: relative;
 }
 #client{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 #client img{
      height: 124px;
      border-radius: 23px;
      padding: 20px;
 }
/* .client-item{
    padding: 5px;
 }*/
 #contact{
   position:absolute;
 }
 #contact::before{
   content: "";
   background-image:url("images/ai.jpg");
   background-repeat:no-repeat;
   background-size:100%;
   position:absolute;
   height:100%;
   width:100%;
   z-index:-1;
   opacity:0.7;
 }
 footer{
   background-color: black;
   color: white;
   padding: 9px;
   text-align: center;
   font-family: sans-serif;
 }
 #contact-box{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 34px;
 }
 .from-group input{
   width: 100%;
   font-size: 1.2rem;
   border-radius: 5px;
   font-family: sans-serif;
 }
 #contact-box form{
      width: 40%;
 }
 #contact-box label{
      font-size: 1.3rem;
 }
 #contact-box textarea{
      width: 100%;
      padding: 0.5rem;
      border-radius: 9px;
      font-size: 1.1rem;
 }
 .h-secondary{
    font-size: 2.8rem;
    padding: 12px;
 }
